@using Microsoft.AspNetCore.Mvc.Rendering;
@using WarungKuApp.Helpers;
@model WarungKuApp.ViewModels.ProdukReqViewModel;

@{
     ViewData["Title"] = "Edit";
     Layout = "_LayoutTemplate";
}
<div class="container">
     <h4 class="my-3">Detail Produk</h4>
     <div class="card mb-3">
          <div class="row g-0">
               <div class="col-md-1">
                    <img src="~/@Model.GambarSrc" class="img-fluid rounded-start" alt="...">
               </div>
               <div class="col-md-11">
                    <div class="card-body">
                         <h5 class="card-title">@Model.Nama</h5>
                         <div class="row">
                              <div class="col-5">
                                   <p class="card-text">Stok</p>
                                   <p class="card-text">Harga</p>
                                   <p class="card-text">Deskripsi</p>
                              </div>
                              <div class="col-7">
                                   <p class="card-text">: @Model.Stok</p>
                                   <p class="card-text">: @Model.Harga.ToIDR()</p>
                                   <p class="card-text">: @Model.Deskripsi</p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div>
          <a asp-action="Index" asp-controller="Home">Back to Home</a>
     </div>

</div>