@model WarungKuApp.ViewModels.AccountLoginViewModel
@{
     ViewData["Title"] = "Registered";
     Layout = "_LayoutTemplate";
}

<h4> Selamat registrasi yang dilakukan berhasil. silahkan login untuk mulai berbelanja</h4>

@Html.ActionLink("Login", "Login", "AccountCustomer");